
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.bg-logo{
  background: url({{ url_for ('static', filename = '/static/forest_conserv.png') }});
  background-size: 100% 100%;
  height: 300px;
  background-size: cover;


}